Body{
 background:linear-gradient(to right,rgb(0, 0, 0),rgb(117, 4, 148),rgb(0, 0, 0));
    font-family:Arial, Helvetica, sans-serif;
}
.todo-box{
    max-width: 500px;
    margin:auto ;
    background: white;
    padding:25px;
    border-radius: 15px;

}

#tasklist li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.task-text{
    flex: 1;

}

.complete{
    text-decoration:line-through;
    color:gray;

}
.btn-small{
    padding: 14px;
    margin-left:8px;
    
}